@use "colors";

window.Bar {
  background: transparent;

  > centerbox {
    margin: 16px 10px 0 10px;
    border-radius: 14px;
    padding: 2px;
    background: rgba(colors.$color9, 0.45);
    // border-bottom: 1px ridge;
    border-bottom: 1px solid rgba(colors.$foreground, 0.4);
  }

  menubutton {
    border-radius: 8px;
    margin: 2px;
    background: rgba(colors.$background, 0.6);
  }

  .ws-button {
    // border-radius: 24px;
    border-radius: 16px;
    margin: 0 2px 0 2px;
    background: rgba(colors.$background, 0.6);
  }

  .focused-workspace {
    background-color: rgba(colors.$color10, 1);
    // border: 2px solid rgba(colors.$color8, 1);
  }

  .vpn-icon {
    border-radius: 8px;
    padding: 0px 4px;
    background: rgba(colors.$background, 0.6);

    image {
      color: rgba(colors.$color10, 1);
      transform: scale(1.5);
    }
  }

  .grackle-bar-item {
    margin: 2px 2px;
    border-radius: 6px;
    font-size: 0.9rem;
    font-weight: bold;
  }

  .grackle-battery {
    font-size: 0.9rem;
    font-weight: bold;
    border: 2px solid rgba(colors.$color14, 0.9);

    trough {
      block {
        border-radius: 4px;
      }

      block.filled {
        background: rgba(colors.$color14, 0.6);
      }

      block.filled.low {
        background: rgba(#fa4846, 0.65);
      }

      block.empty {
        background: rgba(colors.$background, 0.6);
      }
    }
  }

  .grackle-battery.charging {
    trough {
      block.filled {
        background: rgba(#31d663, 0.65);
      }
    }
  }

  .vpn-button {
    button.toggle {
      padding: 0;
      background-color: rgba(0, 0, 0, 0);
    }
  }

  .brightness-slider {
    trough {
      slider {
        background: rgba(colors.$color14, 1);
      }
    }
  }
}

// button {
//   border-radius: 8px;
//   margin: 2px;
//   background: rgba(colors.$background, 0.6);
// }

popover.background {
  arrow {
    background-color: rgba(colors.$color9, 0.6);
  }

  contents {
    background-color: rgba(colors.$color9, 0.93);
  }
}

@mixin grackle-level($filledBlock: rgba(colors.$color4, 0.8)) {
  border: 2px solid rgba(colors.$color14, 0.9);

  button.toggle {
    border-radius: 4px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);

    image {
      margin: 0px 6px;
    }
  }

  // idk why an opacity filter is here by default in the first place
  levelbar {
    filter: none;
  }

  trough {
    block {
      border-radius: 4px;
    }

    block.filled {
      background: $filledBlock;
    }

    block.empty {
      background: rgba(colors.$background, 0.6);
    }
  }
}

.grackle-level-red {
  @include grackle-level(rgba(#fa4846, 0.65));
}

.internet-button {
  @include grackle-level;
}

.grackle-level {
  @include grackle-level;
}
